.our__title {
  color: #2C2D2E;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  -webkit-font-feature-settings: 'clig' off, 'liga' off;
  -moz-font-feature-settings: 'clig' off, 'liga' off;
}

.our__title-span {
  color: #EF7C00;
}

.our__box-link {
  padding: 10px 20px;
  color: var(--color-primary, #EF7C00);
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px;
  border-radius: 61px;
  border: 1px solid var(--color-border, rgba(0, 16, 61, 0.12));
  -webkit-font-feature-settings: 'clig' off, 'liga' off;
  -moz-font-feature-settings: 'clig' off, 'liga' off;
}

.our__box-link:hover {
  color: #fff;
  background: #EF7C00;
}

.our__link {
  padding: 10px 20px;
  color: var(--color-primary, #EF7C00);
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  border-radius: 4px;
  border: 1px solid #EF7C00;
}

.our__link:hover {
  background: #EF7C00;
  color: #fff;
}