.products__title-span {
  color: #EF7C00;
}

.products__title {
  color: #2C2D2E;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  -webkit-font-feature-settings: 'clig' off, 'liga' off;
  -moz-font-feature-settings: 'clig' off, 'liga' off;
}